@media screen and (min-width: 320px) and (max-width: 560px) {
  body {
    overflow: hidden;
  }
  section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -35%);
    height: 627px;
    width: 311px;
    background: url("../imagens/frame-iphone.png") no-repeat;
    background-size: 250px;
  }

  iframe#tela {
    position: relative;
    top: 55px;
    left: 16px;
    width: 218px;
    height: 390px;
  }
  section#redes-sociais {
    display: flex;
    justify-content: space-evenly;
    transform: translateY(20%);
  }

  section#redes-sociais img {
    width: 10vw;
  }
}
