@media screen and (min-width: 321px) and (max-width: 460px) {
  body {
    overflow: hidden;
  }
  section#telefone {
    position: absolute;
    left: 55%;
    top: 65%;
    transform: translate(-50%, -50%);
    height: 92vh;
    width: 75vw;
    background: url("../imagens/frame-iphone.png") no-repeat;
    background-size: 60vw;
  }

  iframe#tela {
    position: relative;
    top: 50px;
    left: 15.2px;
    width: 52.5vw;
    height: 55vh;
  }

  section#redes-sociais {
    display: flex;
    justify-content: space-around;
    transform: translateY(20%);
  }

  section#redes-sociais img {
    width: 15vw;
  }
}
